//
//  Secrets.xcconfig
//  CalendarAssistant
//
//  Created by Sibi on 4/4/25.
//
// Secrets.xcconfig should not be committed to git
OPENAI_API_KEY = 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
